<footer class="post-info">
        <p class="published" title="{{ article.date.isoformat() }}">
                Published: {{ article.locale_date }}
        </p>
        {% if article.modified %}
		<br />
        <p class="modified" title="{{ article.modified.isoformat() }}">
                Updated: {{ article.locale_modified }}
        </p>
        {% endif %}
{% include 'taglist.html' %}
{% import 'translations.html' as translations with context %}
{{ translations.translations_for(article) }}
</footer><!-- /.post-info -->
