{% extends "base.html" %}
{% block html_lang %}{{ page.lang }}{% endblock %}
{% block title %}{{ page.title }}{% endblock %}
{% block content %}
<section id="featured" class="body">
    <article>
    <header>
    <h2 class="entry-title">

    <a href="{{ SITEURL }}/{{ page.url }}" rel="bookmark"
           title="Permalink to {{ page.title|striptags }}">{{ page.title }}</a></h2>
    </header>
    </article>


    {% import 'translations.html' as translations with context %}
    {{ translations.translations_for(page) }}
    {{ page.content }}
</section>
{% endblock %}
